obj/
packaging/debian/control
build-stamp
config-NGStreams.log
config.make
controlfiles-stamp
packaging/debian/.debhelper/
packaging/debian/files
packaging/debian/libsbjson2.3-dev*
packaging/debian/libsbjson2.3*
packaging/debian/libsope-appserver4.9-dev*
packaging/debian/libsope-appserver4.9*
packaging/debian/libsope-core4.9-dev*
packaging/debian/libsope-core4.9*
packaging/debian/libsope-gdl1-4.9-dev*
packaging/debian/libsope-gdl1-4.9*
packaging/debian/libsope-ldap4.9-dev*
packaging/debian/libsope-ldap4.9*
packaging/debian/libsope-mime4.9-dev*
packaging/debian/libsope-mime4.9*
packaging/debian/libsope-xml4.9-dev*
packaging/debian/libsope-xml4.9*
packaging/debian/libsope4.9-dev*
packaging/debian/sope4.9-appserver*
packaging/debian/sope4.9-dbg*
packaging/debian/sope4.9-gdl1-mysql*
packaging/debian/sope4.9-gdl1-postgresql*
packaging/debian/sope4.9-libxmlsaxdriver*
packaging/debian/sope4.9-stxsaxdriver*
packaging/debian/tmp/
sope-appserver/NGObjWeb/SoCore.sxp/
sope-appserver/WEExtensions/WEExtensions.wox/
sope-appserver/WOExtensions/WOExtensions.wox/
sope-core/NGStreams/config.guess.upstream
sope-core/NGStreams/config.h
sope-core/NGStreams/config.log
sope-core/NGStreams/config.status
sope-core/NGStreams/config.sub.upstream
sope-gdl1/MySQL/MySQL.gdladaptor/
sope-gdl1/PostgreSQL/PostgreSQL.gdladaptor/
sope-xml/STXSaxDriver/STXSaxDriver.sax/
sope-xml/libxmlSAXDriver/libxmlSAXDriver.sax/
